@font-face {
    font-family: 'libreBaskerville'; 
    src: url('../styles/googlefonts/LibreBaskerville-Regular.ttf');
} 

@font-face {
    font-family: 'bold-libreBaskerville'; 
    font-style: bold;
    font-weight: 400;
    src: url('../styles/googlefonts/LibreBaskerville-Bold.ttf');
} 


@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/googlefonts/playball-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../styles/googlefonts/playball-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }