.textContainer{
  z-index: 1;
  position: relative;
}


.companyName{
  z-index: 1;
  position: relative;
  padding-bottom: 7%;
  color: '#fff'
}

.boxContainer{
  z-index: 1;
  position: relative;
  width: 50%;
}

@media (max-width: 600px) {
  .boxContainer{
    z-index: 1;
    position: relative;
    width: 100%;
  }
}


.container{
  z-index: 0;
}