@font-face {
    font-family: 'libreBaskerville'; 
    src: url('../styles/googlefonts/LibreBaskerville-Regular.ttf');
} 

@font-face {
    font-family: 'bold-libreBaskerville'; 
    font-style: bold;
    font-weight: 400;
    src: url('../styles/googlefonts/LibreBaskerville-Bold.ttf');
} 


@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url('../styles/googlefonts/playball-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../styles/googlefonts/playball-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.menuHeader{
    color: #000;
    font-family: 'Playball';
    text-align: center;
    width: 100%;
}

.mainGrid{
    border-bottom: 5px solid #000;
}

.page{
    border: 5px solid black;
}

.card{
    background-color: ghostwhite;
}

.background{
    background-color: cornsilk;
}


.call{
    color: #000;
    padding-bottom: 15px;
}

.sectionHeaderdiv{
    display: flex;
    justify-content: center;
}

.sectionHeader{
    color: #000;
    font-family: 'Playball';
    padding: 15px;
    font-size: 40px;
    width: 50%;

}

@media (max-width: 820px){
    .sectionHeader{
        width: 100%;
    }
}

.itemName{
    color: #000;
    font-family: 'bold-libreBaskerville';
    font-size: larger;
}

.itemDescription{
    color: #000;
    font-family: 'libreBaskerville';
}

